@import "tailwindcss";
#root {
	max-width: 1280px;
	margin: 0 auto;
	/* padding: 2rem; */
	text-align: center;
}
.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}
.logo-text {
	background: linear-gradient(to right, #2f66f6, #2f67f697);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}
.atm1 {
	background: linear-gradient(to right, #2f66f6, #2f67f697);
}
.atm2 {
	background: linear-gradient(to right, #f1ba48, #f1b9487f);
}
.inbox {
	background: linear-gradient(to right, #547ee8, #d1b4f585);
}
.outbox {
	background: linear-gradient(to right, #ee873c, #ff89797e);
}
